
/* HOME PAGE STYLES */
#modal-credits a{
    text-decoration: underline;
    color: #0DCAF0;
}

#modal-credits a:hover{
    color: rgb(252, 155, 76);
}
.main-page{
    height: 100vh;
}

.main-container{
    display: none;
}

.modals{
    background: rgba(0, 0, 0, 0.247);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-content-lb{
    background: #CFE2FF;
}


.modal-content-credits{
    background-color: white;
    margin: 0rem 2rem;
    padding: 2rem;
}

.btn-close-modal{
    display: flex;
    justify-content: end;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
}

@media screen and (min-width: 1000px) {

    .main-container{
        display: block;
    }

    .mobile-container{
        display: none;
    }
    
}

/* Game Page Styles */
.game-page{
    height: 100vh;
}

.game-container{
    visibility: hidden;
}
@media screen and (min-width: 1000px){
    .game-container{
        visibility: visible;
    }

    #game-area{
        margin: auto;
        background-color: black;
        width: 1000px;
        height: 450px;
        overflow: hidden;
    }
    #character{
        height: 55px;
        width: 35px;
        /* background-color: yellow; */
        position: relative;
        top: 200px;
        left: 50px;
        overflow: hidden;
    }
    #character-sprite{
        width: 420px;
        position: relative;
        bottom: 128px;
        right: 360px;
    
    }

    #asteroid{
        height: 90px;
        width: 90px;
        /* background-color: tomato; */
        position: relative;
        left: 1000px;
        top: 300px;
        animation: moving 4s infinite linear;
    }
    #asteroid-sprite1{
        width: 270px;
        position: relative;
        bottom: 50px;
        right: 105px;
    }

    #asteroid2{
        height: 90px;
        width: 100px;
        /* background-color: tomato; */
        position: relative;
        left: 1000px;
        top: 50px;
        animation: moving 4s linear 1.8s infinite ;
    }
    #asteroid-sprite2{
        width: 280px;
        position: relative;
        bottom: 60px;
        right: 90px;
        transform: rotate(180deg);
    }

    @keyframes moving{
        0%{left: 1000px;
            transform: rotate(0deg);}
        100%{left: -150px;
            transform: rotate(120deg);}
    }
    #game-over-modal{
        width: 100vw;
        max-width: 3100px;
    }
    #high-score-input{
        width: 100vw;
        max-width: 3100px;
    }
    .game-over-content{
        width: 60%;
        max-width: 860px;
        
    }
}

